body {
    background-image: url(../images/coffee_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form-admin {
    background: rgba(0, 0, 0, .5);
    padding: 20px;
}